{% extends "orouiller/base.html" %}
{% load staticfiles %}

{% block content %}

	<div class="row">
		<h2>Latest Posts:</h2>
		
		<div class="container">
		{% for post in object_list %}
			<ul class="media-list">
				<li class="media project">
					<div class="media-left">
					</div>
					<div class="media-body">
						<h4 class="media-heading"><a href="{% url "post" slug=post.slug %}" >{{post.title}}</a></h4>
						<h5 class="media-heading">{{post.created|date}} - {{post.tags.all|join:", "}}</h5>
					</div>
				</li>
			</ul>
		{% endfor %}
		</div>
	
	</div>

{% endblock %}
