{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>orouiller</title>

	<link href="{% static 'orouiller/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'orouiller/css/style.css' %}" rel="stylesheet">
	
	<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  	ga('create', 'UA-51099485-3', 'auto');
 	ga('send', 'pageview');
	</script>

</head>

<body>
<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Olivier Rouiller's page</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Blog</a></li>
					<li><a href="mailto:o.rouiller@gmail.com" target="_top">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
            		<li>
						<a class="navbar-brand" href="http://www.hubbas.co/profile/2/">
							<img width="22" height="22" alt="Hubbas" src="{% static 'orouiller/img/hubbas_grey.png' %}">
      					</a>	
						<a class="navbar-brand" href="https://www.linkedin.com/pub/olivier-rouiller/18/ab6/619">
							<img width="22" height="22" alt="linkedin" src="{% static 'orouiller/img/linkedin.png' %}">
      					</a>
						<a class="navbar-brand" href="https://twitter.com/OlivierRouiller/">
							<img width="22" height="22" alt="twitter" src="{% static 'orouiller/img/twitter.png' %}">
      					</a>
						<a class="navbar-brand" href="https://github.com/oilandrust/">
							<img width="22" height="22" alt="github" src="{% static 'orouiller/img/github.png' %}">
      					</a>
						<a class="navbar-brand" href="https://plus.google.com/u/0/+OlivierRouiller/posts">
							<img width="22" height="22" alt="google" src="{% static 'orouiller/img/google.png' %}">
      					</a>

					</li>
          		</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>

	{% block content %}{% endblock %}

	<footer class="footer">
        <p>&copy; Olivier Rouiller 2015</p>
     </footer>
</div>


</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'orouiller/js/bootstrap.min.js' %} "></script>

</html>
