{% extends "orouiller/base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="jumbotron">
		<h1>Hi there!</h1>
		<p class="lead">
			This is my humble homepage where I concatenate my projects, things I care about and want to show.
		</p>
	</div>

	<div class="row">
		<h2>Projects</h2>
		
		<div class="container">
		{% for project in projects %}
			<ul class="media-list">
				<li class="media">
					<div class="media-left">
						<a href="{{project.link}}">
							{% if project.thumbnail %}
							<img width="100" height="100" class="media-object" src="{{ project.thumbnail.url }}" >
							{% endif %}
						</a>
					</div>
					<div class="media-body">
						<a href="{{project.link}}">
							<h4 class="media-heading">{{project.name}}</h4>
						</a>
						{{project.description}}
					</div>
				</li>
			</ul>
		{% endfor %}
		</div>

		<h2>Publications</h2>
		<div class="container">
			{% for project in publications %}
			<ul class="media-list">
				<li class="media">
					<div class="media-left">
						<a href="{{project.link}}">
							{% if project.thumbnail %}
							<img width="100" height="100" class="media-object" src="{{ project.thumbnail.url }}" >
							{% endif %}
						</a>
					</div>
					<div class="media-body">
						<a href="{{project.link}}">
							<h4 class="media-heading">{{project.name}}</h4>
						</a>
						{{project.description}}
					</div>
				</li>
			</ul>
			{% endfor %}
		</div>
	</div>
{% endblock %}
